@model CodeFirstKisiler.Models.Adres

@{
    ViewBag.Title = "Duzenle";
}

<h2>Duzenle</h2>

@using (Html.BeginForm())
{
    <div class="form-group">

        @Html.LabelFor(x => x.AdresTanim, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.TextAreaFor(x => x.AdresTanim, new { @class = "form-control", placeholder = "Adres Tanımı", name = "ad", cols = "30", rows = "10" })
        </div>

    </div>

    <div class="form-group">

        @Html.LabelFor(x => x.Kisiler, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.KisiId, (List<SelectListItem>)ViewBag.kisiler, new { htmlAttributes = new { @class = "form-control" } })

        </div>

    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-success" />
    </div>


}
 @if(ViewBag.Result != null)
                {
<div class="alert alert-@ViewBag.Status">
    @ViewBag.Result
</div>
                }