@model IEnumerable<KitapEvi_Models.Models.Kitap>
<br />
<br />
<div class="border p-4 bg-white">
    <div class="row">
        <div class="col-10">
            <h2 class="text-info">Kitap Listesi</h2>
        </div>
        <div class="col-2">

            <a class="btn btn-info form-control" asp-action="Update_Insert">Kitap Ekle</a>
        </div>




    </div>



    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tbody>
                    <tr class="table-secondary">
                        <th>Kitap Adı</th>
                        <th>YayınEvi</th>
                        <th>Fiyat</th>
                        <th>Kategori</th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.KitapAdi</td>
                            <td>@item.Yayinevi.YayinEviAdi</td>
                            <td>@item.Fiyat</td>
                            @if (item.Kategori != null)
                            {
                            <td>@item.Kategori.KategoriAd</td>
                            }
                            <td>
                                <a class="btn btn-primary text-white" asp-action="Update_Insert" asp-route-id="@item.KitapID">Düzenle</a>
                                <a class="btn btn-warning text-white" asp-action="Detaylar" asp-route-id="@item.KitapID">Detaylar</a>
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.KitapID">Sil</a>
                            </td>

                        </tr>

                    }



                </tbody>





            </table>
        }
        else
        {
            <p>Listelenecek kitap bulunamadı...</p>
        }

    </div>
</div>